.field-wrapper {
  margin-right:25px;
}
.field-wrapper.inline {
  float:left;
}
.inline {
  display:inline;
}
.clear {
  clear:both;
}
.fieldset-inline {
  display:inline;
}

/* ORDER ITEMS FORM */
/* /ORDER ITEMS FORM */

/* ORDER LIST */
div.table-container, 
div.table-container > table {
  width:100%;
}
/* \ORDER LSIT */
