{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load bootstrap_toolkit %}

{% block title %}Sales Standings Report{% endblock %}

{% block page_title %}Sales Standings Report{% endblock page_title %}

{% block extra_js %}
  <script src="http://d3js.org/d3.v3.min.js"></script>
  
  <script>

  var data = {{ sales_data_ytd_raw | safe}};

  var margin = {top: 20, right: 20, bottom: 50, left: 60},
    width = 500 - margin.left - margin.right,
    height = 250 - margin.top - margin.bottom;
  var barPadding = 1;

  var x = d3.scale.ordinal()
      .rangeRoundBands([0, width], .1);

  var y = d3.scale.linear()
      .range([height, 0]);

  var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");

  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left")
      .ticks(10, "$");

  var svg = d3.select("#sales_chart").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  x.domain(data.map(function(d) { return d.key; }));
  y.domain([0, d3.max(data, function(d) { return d.value; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Sales");

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.key); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.value); })
      .attr("height", function(d) { return height - y(d.value); });

  svg.selectAll("text")
     .data(data)
     .enter()
     .append("text")
     .text(function(d) {
        return d.value;
     })
     .attr("text-anchor", "middle")
     .attr("x", function(d, i) {
        return i * (width / data.length) + (width / data.length - barPadding) / 2;
     })
     .attr("y", function(d) {
        return height - (d * 4) + 14;  //15 is now 14
     })
     .attr("font-family", "sans-serif")
     .attr("font-size", "11px")
     .attr("fill", "white");

  </script>

  {{ date_range_filter.media }}
  
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />

<style>
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

</style>

{% endblock %}

{% block content %}
  
  <!--<div class="well">
    <a href="{% url 'commissions_scale' %}" title="Bonus Commissions Chart">Bonus Commissions Scale Chart</a>
  </div>-->
  
  <div>
    {{ args }}
  </div>
  <div>
    <form action="" method="GET" id="dateRangeFilter" class="well form-inline">
      {{ date_range_filter.non_field_errors }} 
      <div class="controls-row">
        {{ date_range_filter | as_bootstrap }}
        <input type="submit" class="btn btn-submit btn-default" value="Apply"/>
      </div>
    </form>
  </div>

  <div id="monthly-sales-report">
    <h2>{{caption}} - by Associates </h2>
    {% render_table sales_by_associate %}

    <div id="bonus_scale">
      <img src="{{ STATIC_URL }}img/bonus_scale.png" alt="Bonus Scale"/>
    </div>

  </div>
  
  {% comment %}
  <!--<div id="ytd-sales-report">
    <h2>Year-to-date Sales Report</h2>
    {% render_table sales_by_associate_ytd %}
  </div>-->
  {% endcomment %}

  <div id="sales_chart_container">
    <h2>Year-to-Date Sales Chart</h2>
    <div id="sales_chart"></div>
  </div>
  
  <div id="totals-ytd">
    <h4>Sales by Stores</h4>
    {% render_table store_totals_table %}
  </div>

{% comment %}
<!--
<p class="pagination">

  {% if previous_month %}
    <a href="{% url 'sales_standings' year=previous_month.year month=previous_month.month %}" class="btn pull-left">&larr; {{ previous_month|date:"F Y" }}</a>
  {% endif %}

  {% if next_month %}
    <a href="{% url 'sales_standings' year=next_month.year month=next_month.month %}" class="btn pull-right">{{ next_month|date:"F Y" }} &rarr;</a>
  {% endif %}
</p>-->
{% endcomment %}

{% endblock content %}
