{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load bootstrap_toolkit %}

{% block title %}Sales Standings Report{% endblock %}

{% block page_title %}Sales Standings Report{% endblock page_title %}

{% block extra_js %}
  <script src="http://d3js.org/d3.v3.min.js"></script>
  
  <script>

  var $rangeFrom = $("#id_range_from").parents('.control-group'); 
  var $rangeTo = $("#id_range_to").parents('.control-group'); 

  function refreshDateRangeControls() {
    if($("#id_date_range").val() === 'custom') {
      $rangeFrom.show();
      $rangeTo.show(); 
    } else {
      $rangeFrom.hide();
      $rangeTo.hide(); 
      $rangeFrom.find('input').val('');
      $rangeTo.find('input').val('');
    }
  }

  refreshDateRangeControls();
  $("#id_date_range").on('change', function (){
    refreshDateRangeControls();
  });

  var data = {{ sales_data_ytd_raw | safe}};

  var w = 500,                        //width
  h = 500,                            //height
  r = 200,                            //radius
  color = d3.scale.category20c();     //builtin range of colors

  var vis = d3.select("#sales_chart").append("svg")
  .data([data])                   //associate our data with the document
      .attr("width", w)           //set the width and height of our visualization (these will be attributes of the <svg> tag
      .attr("height", h)
  .append("svg:g")                //make a group to hold our pie chart
      .attr("transform", "translate(" + r + "," + r + ")")    //move the center of the pie chart from 0, 0 to radius, radius

  var arc = d3.svg.arc()              //this will create <path> elements for us using arc data
    .outerRadius(r);

  var pie = d3.layout.pie()           //this will create arc data for us given a list of values
    .value(function(d) { return d.value; });    //we must tell it out to access the value of each element in our data array

  var arcs = vis.selectAll("g.slice")     //this selects all <g> elements with class slice (there aren't any yet)
    .data(pie)                          //associate the generated pie data (an array of arcs, each having startAngle, endAngle and value properties) 
    .enter()                            //this will create <g> elements for every "extra" data element that should be associated with a selection. The result is creating a <g> for every object in the data array
    .append("svg:g")                //create a group to hold each slice (we will have a <path> and a <text> element associated with each slice)
        .attr("class", "slice");    //allow us to style things in the slices (like text)

    arcs.append("svg:path")
      .attr("fill", function(d, i) { return color(i); } ) //set the color for each slice to be chosen from the color function defined above
      .attr("d", arc);                                    //this creates the actual SVG path using the associated data (pie) with the arc drawing function

    arcs.append("svg:text")                                     //add a label to each slice
      .attr("transform", function(d) {                    //set the label's origin to the center of the arc
          //we have to make sure to set these before calling arc.centroid
          d.innerRadius = 0;
          d.outerRadius = r;
          return "translate(" + arc.centroid(d) + ")";        //this gives us a pair of coordinates like [50, 50]
      })
      .attr("text-anchor", "middle")                          //center the text on it's origin
      .text(function(d, i) { return data[i].key; });        //get the label from our original data array 

  /*
  var margin = {top: 20, right: 20, bottom: 50, left: 60},
    width = 500 - margin.left - margin.right,
    height = 250 - margin.top - margin.bottom;
  var barPadding = 1;

  var x = d3.scale.ordinal()
      .rangeRoundBands([0, width], .1);

  var y = d3.scale.linear()
      .range([height, 0]);

  var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");

  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left")
      .ticks(10, "$");

  var svg = d3.select("#sales_chart").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  x.domain(data.map(function(d) { return d.key; }));
  y.domain([0, d3.max(data, function(d) { return d.value; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Sales");

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.key); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.value); })
      .attr("height", function(d) { return height - y(d.value); });

  svg.selectAll("text")
     .data(data)
     .enter()
     .append("text")
     .text(function(d) {
        return d.value;
     })
     .attr("text-anchor", "middle")
     .attr("x", function(d, i) {
        return i * (width / data.length) + (width / data.length - barPadding) / 2;
     })
     .attr("y", function(d) {
        return height - (d * 4) + 14;  //15 is now 14
     })
     .attr("font-family", "sans-serif")
     .attr("font-size", "11px")
     .attr("fill", "white");
  */
  </script>

  {{ date_range_filter.media }}
  
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />

<style>
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

</style>

{% endblock %}

{% block content %}
  
  <!--<div class="well">
    <a href="{% url 'commissions_scale' %}" title="Bonus Commissions Chart">Bonus Commissions Scale Chart</a>
  </div>-->
  
  <div>
    <form action="" method="GET" id="dateRangeFilter" class="well form-inline">
      {{ date_range_filter.non_field_errors }} 
      <div class="controls-row">
        {{ date_range_filter | as_bootstrap }}
        <input type="submit" class="btn btn-submit btn-default" value="Apply"/>
      </div>
    </form>
  </div>

  <div id="monthly-sales-report">
    <h3>Sales Totals - by Associates </h3>
    <h4>For date range: {{ dates_caption }}</h4>
    {% render_table sales_by_associate %}

    <div id="bonus_scale">
      <img src="{{ STATIC_URL }}img/bonus_scale.png" alt="Bonus Scale"/>
    </div>

  </div>
  
  {% comment %}
  <!--<div id="ytd-sales-report">
    <h2>Year-to-date Sales Report</h2>
    {% render_table sales_by_associate_ytd %}
  </div>-->
  {% endcomment %}

  <div id="sales_chart_container">
    <h3>Sales Chart</h3>
    <div id="sales_chart"></div>
  </div>
  
  <div id="totals-ytd">
    <h4>Sales by Stores</h4>
    {% render_table store_totals_table %}
  </div>

{% comment %}
<!--
<p class="pagination">

  {% if previous_month %}
    <a href="{% url 'sales_standings' year=previous_month.year month=previous_month.month %}" class="btn pull-left">&larr; {{ previous_month|date:"F Y" }}</a>
  {% endif %}

  {% if next_month %}
    <a href="{% url 'sales_standings' year=next_month.year month=next_month.month %}" class="btn pull-right">{{ next_month|date:"F Y" }} &rarr;</a>
  {% endif %}
</p>-->
{% endcomment %}

{% endblock content %}
