{% extends "base_bootstrap3.html" %}

{% load render_table from django_tables2 %}
{% load staticfiles %}

{% block title %}Sales Standings Report{% endblock %}

{% block page_title %}Sales Standings Report{% endblock page_title %}

{% block header_bottom %}
    <ul class="nav nav-pills" xmlns="http://www.w3.org/1999/html">
    <li class="active">
      <a href="{% url 'sales_standings_cur' %}">Sales Report</a>
    </li>
    <li>
      <a href="{% url 'bonus_report' %}">Bonus Report</a>
    </li>
  </ul>
{%  endblock %}

{% block extra_js %}
  <!--<script src="http://d3js.org/d3.v3.min.js"></script>-->
  <script src="{% static 'js/date_range_form_helper.js' %}"></script>
  
  <script type="text/javascript">

    $(document).ready(function() {
        
      $('#tabs').find('a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });

      DateRangeFormHelper.init();

    });


  /*var data = {{ sales_data_ytd_raw | safe}};

  var w = 500,                        //width
  h = 500,                            //height
  r = 200,                            //radius
  color = d3.scale.category20c();     //builtin range of colors

  var vis = d3.select("#sales_chart").append("svg")
  .data([data])                   //associate our data with the document
      .attr("width", w)           //set the width and height of our visualization (these will be attributes of the <svg> tag
      .attr("height", h)
  .append("svg:g")                //make a group to hold our pie chart
      .attr("transform", "translate(" + r + "," + r + ")")    //move the center of the pie chart from 0, 0 to radius, radius

  var arc = d3.svg.arc()              //this will create <path> elements for us using arc data
    .outerRadius(r);

  var pie = d3.layout.pie()           //this will create arc data for us given a list of values
    .value(function(d) { return d.value; });    //we must tell it out to access the value of each element in our data array

  var arcs = vis.selectAll("g.slice")     //this selects all <g> elements with class slice (there aren't any yet)
    .data(pie)                          //associate the generated pie data (an array of arcs, each having startAngle, endAngle and value properties) 
    .enter()                            //this will create <g> elements for every "extra" data element that should be associated with a selection. The result is creating a <g> for every object in the data array
    .append("svg:g")                //create a group to hold each slice (we will have a <path> and a <text> element associated with each slice)
        .attr("class", "slice");    //allow us to style things in the slices (like text)

    arcs.append("svg:path")
      .attr("fill", function(d, i) { return color(i); } ) //set the color for each slice to be chosen from the color function defined above
      .attr("d", arc);                                    //this creates the actual SVG path using the associated data (pie) with the arc drawing function

    arcs.append("svg:text")                                     //add a label to each slice
      .attr("transform", function(d) {                    //set the label's origin to the center of the arc
          //we have to make sure to set these before calling arc.centroid
          d.innerRadius = 0;
          d.outerRadius = r;
          return "translate(" + arc.centroid(d) + ")";        //this gives us a pair of coordinates like [50, 50]
      })
      .attr("text-anchor", "middle")                          //center the text on it's origin
      .text(function(d, i) { return data[i].key; });        //get the label from our original data array 
*/
  </script>

  {{ date_range_filter.media }}
  
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />

<style>
/*.bar {
  fill:"steelblue";
}

.bar:hover {
  fill:"brown";
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}*/
</style>

{% endblock %}

{% block content %}
  
  
  {% include "partial/_date_range_form.html" %}

  <div id="totals-tables" class="clearfix">
    <div id="monthly-sales-report">
      <h3>Sales Totals - by Associates </h3>
      <h4>Date range: {{ dates_caption }}</h4>
      {% render_table sales_by_associate %}
    </div>

    <div id="totals-ytd">
      <h4>Sales by Stores</h4>
      {% render_table store_totals_table %}
    </div>
  </div>

    <aside id="month-employee-container">

        <img src="{{ STATIC_URL }}images/employee-of-the-month-logo.png" alt="Employee of the month"/>
        <h3> <span class="line1">Employee</span><span class="line2">of the</span><span class="line3">month</span><span class="line4">{{ employee_of_the_month_period }}</span></h3>
        <div>{{ employee_of_the_month }}</div>
    </aside>

  <div id="associate-order-tabs" class="tabbable tabs">
  
    <h4>View order list by associates</h4>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="tabs">
      {% for assoc, sales_table in sales_by_assoc_expanded_tables.items %}
        <li class="{% ifequal forloop.counter 1 %}active{% endifequal %}"><a href="#assoc{{ forloop.counter }}" data-toggle="tab">{{ assoc }}</a></li>
      {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">  
      {% for assoc, sales_table in sales_by_assoc_expanded_tables.items %}
      <div class="tab-pane {% ifequal forloop.counter 1 %}active{% endifequal %}" id="assoc{{ forloop.counter }}">
          <fieldset>
            <legend>{{ assoc }}</legend>
            <div>
              {% render_table sales_table %}
            </div>
          </fieldset>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}