{% extends "base_bootstrap3.html" %}

{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% block title %}Orders for {{ month|date:'F, Y'}} {% endblock title %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}

{% block page_title %}Orders for {{ month|date:'F, Y'}} {% endblock page_title %}

{% block content %}

  <div id="order-list" class="monthly-orders">

    <ul class="breadcrumb">
      <li> {{ month|date:'Y' }}:</li>
      {% for month, link in order_months_links %} 
	  <li><a href="{{ link }}" class="-btn">{{ month}}</a>  <!--<span class="divider">/</span>--></li>
      {% endfor %}      
      {% url 'active_orders' as active_orders %}
      <li class="pull-right"><a href={{ active_orders}}>View all active orders</a></li>
    </ul>
    
    {% if previous_year_links %}
      <ul class="breadcrumb">
        <li> {{ prev_year }}:</li>
        {% for month, link in previous_year_links %} 
		<li><a href="{{ link }}" class="-btn">{{ month}}</a>   <!--<span class="divider">/</span>--></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if months_2013 %}
      <ul class="breadcrumb">
        <li> 2013: </li>
        {% for month, link in months_2013 %} 
		<li><a href="{{ link }}" class="-btn">{{ month}}</a>   <!--<span class="divider">/</span>--></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% comment %}
    <fieldset class="well">
      <legend>Filter orders</legend>
      <form id="order-filter" method="get" class="form form-inline">
        {{ filter.form.management_form}}
        {{ filter.form.non_field_errors}}
        {% bootstrap_form_errors filter.form layout='inline' %}
        {% bootstrap_form filter.form layout="inline" %}
        {% buttons submit='Filter' layout="inline" %}{% endbuttons %}
      </form>
    </fieldset>
    {% endcomment %}

    <!-- Filter Form -->
    {% crispy filter.form filter.helper %}
    

    {% render_table table %}

  </div>

  <section id="totals" class="clearfix">
    <div id="totals-month">
      <h4>Month Sales Totals</h4>
      {% render_table month_totals_table %}
    </div>

    <div id="orders-ytd-totals">
      <h4>{{ year }} YTD Sales Totals</h4>
      {% render_table ytd_totals_table %}
    </div>

    <div id="totals-assoc">
      <h4>{{ month|date:'F, Y' }} Standings</h4>
      {% render_table sales_by_associate %}
    </div>
  </section>


  {% comment %}
  {% if is_paginated %}
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
      </span>
    </div>
  {% endif %}

<p id="pager">

  {% if previous_month %}
    <a href="{% url 'archive_month_numeric' year=previous_month.year month=previous_month.month %}" class="btn pull-left">&larr; {{ previous_month|date:"F Y" }}</a>
  {% endif %}

  {% if next_month %}
    <a href="{% url 'archive_month_numeric' year=next_month.year month=next_month.month %}" class="btn pull-right">{{ next_month|date:"F Y" }} &rarr;</a>
  {% endif %}
</p>
  {% endcomment %}

{% endblock %}
