{% extends "base.html" %}

{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}Order List{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}

{% block page_title %}Orders for {{ month|date:'F, Y'}} {% endblock page_title %}

{% block content %}

  <div id="order-list" class="monthly-orders">

    <h2>All Unplaced orders</h2>
    {% render_table unplaced_orders_table %}

    <h2>Orders for {{ month|date:'F, Y'}}</h2>

    <p id="orders-calendar">

      {% if previous_year_links %}
        {{ prev_year }}
        {% for month, link in previous_year_links %} 
          <a href="{{ link }}" class="btn">{{ month}}</a>
        {% endfor %}
      {% endif %}
      <br/>
      {{ month|date:'Y' }}: 
      {% for month, link in order_months_links %} 
        <a href="{{ link }}" class="btn">{{ month}}</a>
      {% endfor %}

    </p>

    {% crispy filter.form filter.helper %}
    {% render_table table %}

  </div>

  <section id="totals" class="clearfix">
    <div id="totals-month">
      <h4>Month Sales Totals</h4>
      {% render_table month_totals_table %}
    </div>

    <div id="totals-ytd">
      <h4>{{ year }} YTD Sales Totals</h4>
      {% render_table ytd_totals_table %}
    </div>

    <div id="totals-assoc">
      <h4>Sales by Associate for  {{ month|date:'F, Y' }} </h4>
      {% render_table sales_by_associate %}
    </div>
  </section>


  {% comment %}
  {% if is_paginated %}
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
      </span>
    </div>
  {% endif %}

<p id="pager">

  {% if previous_month %}
    <a href="{% url 'archive_month_numeric' year=previous_month.year month=previous_month.month %}" class="btn pull-left">&larr; {{ previous_month|date:"F Y" }}</a>
  {% endif %}

  {% if next_month %}
    <a href="{% url 'archive_month_numeric' year=next_month.year month=next_month.month %}" class="btn pull-right">{{ next_month|date:"F Y" }} &rarr;</a>
  {% endif %}
</p>
  {% endcomment %}

{% endblock %}
