
{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}Order List{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block page_title %}Order List{% endblock page_title %}

{% block content %}
  <div>

    <h2>Orders</h2>
    {% crispy filter.form filter.helper %}

    <div id="order-list">
      {% render_table table %}
  </div>

  </div>

{% endblock %}
