{% extends "base.html" %}

{% load bootstrap_toolkit %}
{% load crispy_forms_tags %}

{% block title %}Modify Order{% endblock %}

{% block page_title %}Modify Order {{order}}{% endblock page_title %}

{% block extra_js %}
<script type="text/javascript">
    $(function() {
      $(document).ready(function() {
        
        $('#tabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        })

        var initItemForm = function() {
          $("#order-items-fieldset div.items-form:not(.processed)").each(function() {
            $form = $(this);
            $form.addClass('processed');
            var $in_stock = $(".item-general-fields", $form).find('input.order-item-in-stock');
            var $status = $(".item-general-fields", $form).find('select.order-item-status');
            var $special_fields = $form.find(".item-special-fields");
            var $po_num = $form.find("input.order-item-po");
            var $ack_num = $form.find("input.order-item-ack-num");
            var date = $.datepicker.formatDate('yy-mm-dd', new Date());

            if ($in_stock.length && $in_stock.prop('checked')) {
              $special_fields.find("input").val("");          // clear special order related values
              $status.val("S");                               // select "In Stock"
              $(".item-special-fields", $form).hide();        // hide special order related fields
              
            } else {  
              $status.val("P");                               // select "Pending"
              $(".item-special-fields", $form).show();
            }

            $in_stock.change(function() {
              if (this.checked) {
                $special_fields.find("input").val("");        // clear special order related values
                $status.val("S");                             // select "In Stock"
                $special_fields.hide();                       // hide special order related fields
              } else {
                $status.val("P");                             // select "Pending"
                $special_fields.show();
              }
            });
            
            //processing of dependent fields once item status is changed
            $status.change(function() {
              if ($(this).val() == "S") {
                $special_fields.find("input").val("");        // clear special order related values
                $in_stock.attr("checked", "checked");
                $(".item-special-fields", $form).hide();      // hide special order related fields
              } else {
                $in_stock.removeAttr("checked");
                $(".item-special-fields", $form).show();
              }
            });
            
            //default PO date to current date if PO number is entered
            $po_num.change(function() {
              if ($(this).val().trim() != "") {
                $special_fields.find("input.order-item-po-date").val(date);
              } else { 
                $special_fields.find("input.order-item-po-date").val("");
              }
            });
            
            //default ack. date to current date if ack. number is entered
            $ack_num.change(function() {
              if ($(this).val().trim() != "") {
                $special_fields.find("input.order-item-ack-date").val(date);
              } else { 
                $special_fields.find("input.order-item-ack-date").val("");
              }
            });            
            
          });
        };

        initItemForm();

        // items formset
        $("#order-items-fieldset").find("div.accordion-body").eq(0).addClass("in"); //expand first item
        $('#order-items-fieldset div.items-form').formset({
            prefix: '{{items_form.prefix}}',
            added: function($form) {
              var accordions = $form.parent().find('div.accordion-group');
              var form_ind = accordions.length - 1;
              $form.find("div.accordion-heading a.accordion-toggle").attr("href", "#collapseordered_items-" + form_ind).text("Item " + (form_ind + 1));
              $form.find("div.accordion-body").attr("id", "collapseordered_items-" + form_ind);
              $("#order-items-fieldset").find("div.accordion-body").removeClass("in");
              $form.find("div.accordion-heading a").click();

              var $in_stock = $(".item-general-fields", $form).find('input.order-item-in-stock');
              $in_stock.prop('checked', true);
              initItemForm();

            }
        });

        // commissions formset
        $("#order-commissions-fieldset").find("div.accordion-body:first").addClass("in"); //expand first item
        $('#order-commissions-fieldset div.commissions-form').formset({
            prefix: '{{commissions_form.prefix}}',
            added: function($form) {
              var accordions = $form.parent().find('div.accordion-group');
              var form_ind = accordions.length - 1;
              $form.find("div.accordion-heading a.accordion-toggle").attr("href", "#collapsecommissions-" + form_ind).text("Commissions " + (form_ind + 1));
              $form.find("div.accordion-body").attr("id", "collapsecommissions-" + form_ind);
              $("#order-commissions-fieldset").find("div.accordion-body").removeClass("in");
              $form.find("div.accordion-heading a").click();
            }
        });


        //calc order total and balance due
        var recalcOrderTotals = function() {
          var $total = $("#order-total");
          var $balance_due = $("#balance-due");

          var subtotal = $("#id_subtotal_after_discount").val();
          subtotal = parseFloat(subtotal.replace(',', ''));
          if (isNaN(subtotal)) {
            subtotal = 0.0;
          }

          var tax = $("#id_tax").val();
          tax = parseFloat(tax.replace(',', ''));
          if (isNaN(tax)) {
            tax = 0.0;
          }

          var shipping = $("#id_shipping").val();
          shipping = parseFloat(shipping.replace(',', ''));
          if (isNaN(shipping)) {
            shipping = 0.0;
          }

          var deposit_balance = $("#id_deposit_balance").val();
          deposit_balance = parseFloat(deposit_balance.replace(',', ''));
          if (isNaN(deposit_balance)) {
            deposit_balance = 0.0;
          }

          var total_amount = subtotal + tax + shipping;
          var due = total_amount - deposit_balance;
          
          $total.text("$" + total_amount.toFixed(2));
          $balance_due.text("$" + due.toFixed(2));
        };

        $("#id_subtotal_after_discount").change(function() {
            recalcOrderTotals();
        });
        $("#id_deposit_balance").change(function() {
            recalcOrderTotals();
        });
        $("#id_tax").change(function() {
            recalcOrderTotals();
        });
        $("#id_shipping").change(function() {
            recalcOrderTotals();
        });

        recalcOrderTotals();

      });
    })
</script>

  {{ form.media }}
  {{ items_form.media }}
  {{ commissions_form.media }}
  {{ delivery_form.media }}
  
{% endblock %}

{% block extra_css %}
<style type="text/css">
    .delete-row {
        margin-left:5px;
    }   
</style>
{% endblock %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }} 
  
  <div class="tabbable tabs-left">
  
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="tabs">
      <li class="active"><a href="#order-info" data-toggle="tab">Order info</a></li>
      <li><a href="#customer-info" data-toggle="tab">Customer</a></li>
      <li><a href="#payment-info" data-toggle="tab">Payment</a></li>
      <li><a href="#order-items-fieldset" data-toggle="tab">Items</a></li>
      <li><a href="#deliveries" data-toggle="tab">Deliveries</a></li>
      <li><a href="#order-commissions-fieldset" data-toggle="tab">Commissions</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">  
      <div class="tab-pane active" id="order-info">
        <fieldset>
          <legend>Order info</legend>
      
           <div class="field-wrapper inline">
             {{ form.number.errors }}
             <label for="id_number">Order #</label>
             {{ form.number }}
           </div>
           <div class="field-wrapper inline">
             {{ form.created.errors }}
             {{ form.created | as_bootstrap }}
           </div>
           <div class="field-wrapper inline">
             {{ form.status.errors }}
             <label for="id_status">Status</label>
             {{ form.status }}
           </div>
      
           <div class="field-wrapper clear">
             {{ form.store.errors }}
             <label for="id_store">Store</label>
             {{ form.store }}
           </div>
      
        </fieldset>
      </div>
    
      <div class="tab-pane" id="customer-info">
        <fieldset>
          <legend>Customer Info</legend>
          <div class="customer-selection">
            <h5>Select existing or create a customer</h5>
            <div class="field-wrapper">
              {{ form.customer.errors }}
              <label for="id_customer">Customer</label>
              {{ form.customer }}
            </div>
            <div id="new-customer-form-wrapper" >
              {{ customer_form.management_form }}
              {% for subform in customer_form %}
                <div class="accordion-group items-form form-row" id="{{ customer_form.prefix }}-row">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#new-customer-form-wrapper" href="#collapse{{ customer_form.prefix }}">New Customer</a>
                  </div>
                  <div id="collapse{{ customer_form.prefix }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                      {{ subform.non_field_errors }}
                      {{ subform }}
                    </div>
                  </div>       
                </div>
              {% endfor %}
            </div>
            <br/>
            <div id="referral-info">
              <label for="id_referral">Referral source</label>
              {{ form.referral }} 
            </div>
          </div>
        </fieldset>
      </div>
    
      <div class="tab-pane" id="payment-info">
        <fieldset>
          <legend>Payment Information</legend>
          <div class="field-wrapper input-prepend">
            {{ form.subtotal_after_discount.errors }}
            <label for="id_subtotal_after_discount">Subtotal After Discount</label>
            <span class="add-on">$</span> 
            {{ form.subtotal_after_discount}}
          </div>
          <div class="field-wrapper input-prepend">
            {{ form.deposit_balance.errors }}
            <label for="id_deposit_balance">Deposit Balance</label>
            <span class="add-on">$</span> 
            {{ form.deposit_balance }}
          </div>
          <div class="field-wrapper input-prepend">
            {{ form.tax.errors }}
            <label for="id_tax">Tax</label>
            <span class="add-on">$</span> 
            {{ form.tax }}
          </div>
          <div class="field-wrapper input-prepend">
            {{ form.shipping.errors }}
            <label for="id_shipping">Shipping</label>
            <span class="add-on">$</span> 
            {{ form.shipping }}
          </div>
        </fieldset>
      </div>
      
      <div class="tab-pane" id="order-items-fieldset">
        <fieldset class="accordion">
          <legend>Sold Items</legend>
          {{ items_form.management_form|crispy }}
          {{ items_form.non_field_errors }}    
          {% for item_form in items_form %}
            <div class="accordion-group items-form form-row" id="{{ item_form.prefix }}-row">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#order-items-fieldset" href="#collapse{{ item_form.prefix }}">Item {{ forloop.counter }}</a>
              </div>
              <div id="collapse{{ item_form.prefix }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  {% crispy item_form item_form_helper %}
                  {{ item_form.id }}
                </div>
              </div>       
            </div>
          {% endfor %}
        </fieldset>
      </div>
    
      <div class="tab-pane" id="deliveries">
        <fieldset class="formset">
          <legend>Deliveries</legend>
          {{ delivery_form.management_form }}
          {% if delivery_form %}
            {{ delivery_form.non_form_errors }}
            {% for form in delivery_form %}
              <div class="form-row inline">
                {{ form | as_bootstrap}}
              </div>
            {% endfor %}
          {% else %}
            No deliveries are available.
          {% endif %}
        </fieldset>
      </div>
    
      <div class="tab-pane" id="order-commissions-fieldset">
        <fieldset class="formset accordion">
          <legend>Commissions</legend>
          {{ commissions_form.management_form }}
          {% if commissions_form %}
            {{ commissions_form.non_field_errors }}    
            {% for comm_form in commissions_form %}
              <div class="accordion-group commissions-form form-row" id="{{ commissions_form.prefix }}-{{forloop.counter}}-row">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#order-commissions-fieldset" href="#collapse-{{ comm_form.prefix }}">Commissions {{ forloop.counter }}</a>
                </div>
                <div id="collapse-{{ comm_form.prefix }}" class="accordion-body collapse">
                  <div class="accordion-inner">
                    {{ comm_form | as_bootstrap }}
                  </div>
                </div>       
              </div>
            {% endfor %}
          {% else %}
              No commissions info available.
          {% endif %}

        </fieldset>
      </div>
    
    </div>

    <div class="well clear order-totals-wrapper">
      <span>TOTAL:<span id="order-total" class="totals-amount"></span></span>
      <span>DUE:<span id="balance-due" class="totals-amount"></span></span>
    </div>

    <div class="field-wrapper order-comments-wrapper">
      {{ form.comments.errors }}
      <label for="id_comments">Comments</label>
      {{ form.comments }}
    </div>

    <br/>
    <input type="submit" class="btn btn-primary btn-large" value="Save"/>

</form>

{% endblock content %}
