{% extends "base.html" %}

{% load bootstrap_toolkit %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Modify Order{% endblock %}

{% block page_title %}Modify Order {{order}}{% endblock page_title %}

{% block extra_js %}
  <script src="{% static 'js/formhelper.js' %}"></script>
  <script src="{% static 'js/jquery.validate.extra.js' %}"></script>

<script type="text/javascript">
  $(function() {

    $(document).ready(function() {
        
      $('#tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      })

      FurnFormHelper.applyItemFormRules($("#order-items-fieldset"));

      // items formset
      $("#order-items-fieldset").find("div.accordion-body").eq(0).addClass("in"); //expand first item
      $('#order-items-fieldset div.items-form').formset({
          prefix: '{{items_form.prefix}}',
          deleteText: 'Delete',
          added: function($form) {
            FurnFormHelper.initFormset($form, 'ordered_items', 'Item');

            $form.removeClass("processed");
            $form.find("input").off('change');
            $form.find("select").off('change');

            FurnFormHelper.applyItemFormRules($("#order-items-fieldset"));
          }
      });
      
      // order delivery formset
      $("#deliveries").find("div.accordion-body:first").addClass("in"); //expand first item
      $('#deliveries div.delivery-form').formset({
          prefix: '{{delivery_form.prefix}}',
          added: function($form) {
            FurnFormHelper.initFormset($form, 'deliveries', 'Delivery');
          }
      });

      // commissions formset
      $("#order-commissions-fieldset").find("div.accordion-body:first").addClass("in"); //expand first item
      $('#order-commissions-fieldset div.commissions-form').formset({
          prefix: '{{commissions_form.prefix}}',
          added: function($form) {
            FurnFormHelper.initFormset($form, 'commissions', 'Commissions');
          }
      });

      // attachments formset
      $("#attachment-fieldset").find("div.accordion-body:first").addClass("in"); //expand first item
      $('#attachment-fieldset div.attachment-form').formset({
          prefix: '{{attachment_form.prefix}}',
          added: function($form) {
            FurnFormHelper.initFormset($form, 'attachments', 'Attachment');
          }
      });

      // issues formset
      $("#issues-fieldset").find("div.accordion-body:first").addClass("in"); //expand first item
      $('#issues-fieldset div.issues-form').formset({
          prefix: '{{issues_form.prefix}}',
          added: function($form) {
            FurnFormHelper.initFormset($form, 'issues', 'Issue');
          }
      });

      // ORDER TOTALS calculation
      var totals_triggers = ["#id_subtotal_after_discount", "#id_deposit_balance", '#id_tax', '#id_shipping'];
      var len = totals_triggers.length;
      for (var i=0; i< len; i++) {
        $(totals_triggers[i]).change(function() { 
          FurnFormHelper.recalcOrderTotals();
        });
      }
      
      // show totals on initial load
      FurnFormHelper.recalcOrderTotals();

      // put focus on tab that has error
      var $parentTab = $("#orderForm .error").first().parents(".tab-pane");
      if ($parentTab.length) {
        var tab = $parentTab.attr('id');
        $('#tabs a[href="#' + tab + '"]').tab('show');
      }

      $("#orderForm").validate({
        rules: {
          number: {
            required: true,
            regex: /^(SO|SR|DR)-([0-9][0-9])-([0-9]{4})$/
          },
          subtotal_after_discount: {positive_num: true },
          deposit_balance:         {positive_num: true },
          tax:                     {positive_num: true },
          shipping:                {positive_num: true }
        },
        messages: {
          number: {
            regex:'Please enter order number is the format: <"SO" or "SR" or "DR">-<store#>-<4 numbers>. Examples: SO-01-0009 or SR-03-1000 or DR-01-0005',
            required: 'Order number is required'
          }
        },
        errorClass: "error help-block",
        highlight: function(element) {
          $(element).closest('.control-group').removeClass('success').addClass('error');
        },
        success: function(element) {
          element
          .text('OK!').addClass('valid')
          .closest('.control-group').removeClass('error').addClass('success');
        } 
      });
    });
  })
</script>

  {{ form.media }}
  {{ items_form.media }}
  {{ commissions_form.media }}
  {{ delivery_form.media }}
  
{% endblock %}

{% block extra_css %}
<style type="text/css">
    .delete-row {
        margin-left:5px;
    }   
</style>
{% endblock %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data" id="orderForm">
  {% csrf_token %}
  {{ form.non_field_errors }} 
  
  <div class="tabbable tabs-left">
  
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="tabs">
      <li class="active"><a href="#order-info" data-toggle="tab">Order info</a></li>
      <li><a href="#customer-info" data-toggle="tab">Customer</a></li>
      <li><a href="#payment-info" data-toggle="tab">Payment</a></li>
      <li><a href="#order-items-fieldset" data-toggle="tab">Items</a></li>
      <li><a href="#deliveries" data-toggle="tab">Deliveries</a></li>
      <li><a href="#order-commissions-fieldset" data-toggle="tab">Commissions</a></li>
      <li><a href="#attachment-fieldset" data-toggle="tab">Attachments</a></li>
      <li><a href="#issues-fieldset" data-toggle="tab">Order Issues</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">  
      <div class="tab-pane active" id="order-info">
        <fieldset>
          <legend>Order info</legend>
      
            <div class="field-wrapper inline">
              {{ form.number|as_bootstrap }}
            </div>
            
            <div class="field-wrapper inline">
              {{ form.order_date|as_bootstrap }}
            </div>
            
            <div class="field-wrapper inline">
              {{ form.status|as_bootstrap }}
            </div>
      
           <div class="field-wrapper clear">
             {{ form.store|as_bootstrap }}
           </div>
      
        </fieldset>
      </div>
    
      <div class="tab-pane" id="customer-info">
        <fieldset>
          <legend>Customer Info</legend>
          
            <div class="tabbable"> <!-- Only required for left/right tabs -->
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Select Customer</a></li>
                <li><a href="#tab2" data-toggle="tab">New Customer...</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                  <div class="field-wrapper">
                    {{ form.customer|as_bootstrap }}
                  </div>

                </div>
                <div class="tab-pane" id="tab2">
                  <div id="new-customer-form-wrapper" >
                    {{ customer_form.management_form }}
                    {% for subform in customer_form %}
                      {{ subform.non_field_errors }}
                      {{ subform }}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          
            <br/>          
          
        </fieldset>
      </div>
    
      <div class="tab-pane" id="payment-info">
        <fieldset>
          <legend>Payment Information</legend>
          
          {% with form.subtotal_after_discount as field %}
            <div class="field-wrapper control-group {% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
              <div class="input-prepend">
                {{ field.label_tag }}
                <span class="add-on">$</span> 
                {{ field }}
              </div>
              {% include "bootstrap_toolkit/field_errors.html" with field=field %}
            </div>
          {% endwith %}
          
          {% with form.deposit_balance as field %}
            <div class="field-wrapper control-group {% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
              <div class="input-prepend">
                {{ field.label_tag }}
                <span class="add-on">$</span> 
                {{ field }}
              </div>
              {% include "bootstrap_toolkit/field_errors.html" with field=field %}
            </div>
          {% endwith %}
          
          {% with form.tax as field %}
            <div class="field-wrapper control-group {% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
              <div class="input-prepend">
                {{ field.label_tag }}
                <span class="add-on">$</span> 
                {{ field }}
              </div>
              {% include "bootstrap_toolkit/field_errors.html" with field=field %}
            </div>
          {% endwith %}
          
          {% with form.shipping as field %}
            <div class="field-wrapper control-group {% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
              <div class="input-prepend">
                {{ field.label_tag }}
                <span class="add-on">$</span> 
                {{ field }}
              </div>
              {% include "bootstrap_toolkit/field_errors.html" with field=field %}
            </div>
          {% endwith %}
        </fieldset>
      </div>
      
      <div class="tab-pane" id="order-items-fieldset">
        <fieldset class="accordion">
          <legend>Sold Items</legend>
          {{ items_form.management_form|crispy }}
          {{ items_form.non_field_errors }}    
          {% for item_form in items_form %}
            <div class="accordion-group items-form form-row" id="{{ item_form.prefix }}-row">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#order-items-fieldset" href="#collapse{{ item_form.prefix }}">Item {{ forloop.counter }}</a>
              </div>
              <div id="collapse{{ item_form.prefix }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  {% crispy item_form item_form_helper %} 
                  {% comment %} {{ item_form | as_bootstrap }} {% endcomment %}
                  {{ item_form.id }}
                </div>
              </div>       
            </div>
          {% endfor %}
        </fieldset>
      </div>
    
      <div class="tab-pane" id="deliveries">
        <fieldset class="formset">
          <legend>Deliveries</legend>
          {{ delivery_form.management_form }}
          {% if delivery_form %}
            {{ delivery_form.non_form_errors }}
            {% for form in delivery_form %}
              <div class="accordion-group delivery-form form-row" id="{{ delivery_form.prefix }}-{{forloop.counter}}-row">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#deliveries" href="#collapse-{{ form.prefix }}">Delivery {{ forloop.counter }}</a>
                </div>
                <div id="collapse-{{ form.prefix }}" class="accordion-body collapse">
                  <div class="accordion-inner">
                    {{ form | as_bootstrap }}
                  </div>
                </div>       
              </div>
            {% endfor %}
          {% else %}
            <div class="alert warning">Deliveries can be added only after saving the order.</div>
          {% endif %}
        </fieldset>
      </div>
    
      <div class="tab-pane" id="order-commissions-fieldset">
        <fieldset class="formset accordion">
          <legend>Commissions</legend>
          {{ commissions_form.management_form }}
          {% if commissions_form %}
            {{ commissions_form.non_field_errors }}    
            {% for comm_form in commissions_form %}
              <div class="accordion-group commissions-form form-row" id="{{ commissions_form.prefix }}-{{forloop.counter}}-row">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#order-commissions-fieldset" href="#collapse-{{ comm_form.prefix }}">Commissions {{ forloop.counter }}</a>
                </div>
                <div id="collapse-{{ comm_form.prefix }}" class="accordion-body collapse">
                  <div class="accordion-inner">
                    {{ comm_form | as_bootstrap }}
                  </div>
                </div>       
              </div>
            {% endfor %}
          {% else %}
              No commissions info available.
          {% endif %}

        </fieldset>
      </div>
    
      <div class="tab-pane" id="attachment-fieldset">
        <fieldset class="formset accordion">
          <legend>Attachments</legend>
          {{ attachment_form.management_form }}
          {% if attachment_form %}
            {{ attachment_form.non_field_errors }}    
            {% for form in attachment_form %}
              <div class="accordion-group attachment-form form-row" id="{{ attachment_form.prefix }}-{{forloop.counter}}-row">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#attachment-fieldset" href="#collapse-{{ form.prefix }}">Attachment {{ forloop.counter }}</a>
                </div>
                <div id="collapse-{{ form.prefix }}" class="accordion-body collapse">
                  <div class="accordion-inner">
                    {{ form | as_bootstrap }}
                  </div>
                </div>       
              </div>
            {% endfor %}
          {% else %}
            {% ifequal object.pk None %}
              <div class="alert warning">Save the order before uploading attachments.</div>
            {% else %}
              <div class="alert warning">Nothing uploaded yet</div>
            {% endifequal %}
          {% endif %}

        </fieldset>
      </div>
    
      <div class="tab-pane" id="issues-fieldset">
        <fieldset class="formset accordion">
          <legend>Order Issues</legend>
          {{ issues_form.management_form }}
          {% if issues_form %}
            {{ issues_form.non_field_errors }}    
            {% for form in issues_form %}
              <div class="accordion-group attachment-form form-row" id="{{ issues_form.prefix }}-{{forloop.counter}}-row">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#issues-fieldset" href="#collapse-{{ form.prefix }}">Issue {{ forloop.counter }}</a>
                </div>
                <div id="collapse-{{ form.prefix }}" class="accordion-body collapse">
                  <div class="accordion-inner">
                    {{ form | as_bootstrap }}
                  </div>
                </div>       
              </div>
            {% endfor %}
          {% else %}
            {% ifequal object.pk None %}
              <div class="alert warning">Save the order before entering order issues.</div>
            {% else %}
              <div class="alert warning">No issues yet.</div>
            {% endifequal %}
          {% endif %}

        </fieldset>
      </div>
    </div>

    <div class="well clear order-totals-wrapper">
      <span>TOTAL:<span id="order-total" class="totals-amount"></span></span>
      <span>DUE:<span id="balance-due" class="totals-amount"></span></span>
    </div>

    <div class="field-wrapper order-comments-wrapper">
      {{ form.comments.errors }}
      <label for="id_comments">Comments</label>
      {{ form.comments }}
    </div>

    <br/>
    
    <div id="referral-info">
      <label for="id_referral">Referral source</label>
      {{ form.referral }} 
    </div>
    
    <br/>
            
    <input type="submit" class="btn btn-primary btn-large" value="Save"/>

</form>

{% endblock content %}
