{% extends "base.html" %}

{% block title %}Order -- {{object}}{% endblock %}

{% block page_title %}Order Details - {{object}}{% endblock page_title %}

{% block content %}
<ul>
  {% for order in object_list %}
    <li>{{ order.created|date:"F j, Y" }}: {{ order }}</li>
  {% endfor %}
</ul>

<p>
  {% if previous_month %}
    <a href="{% url 'archive_month_numeric' year=previous_month.year month=previous_month.month %}">Previous Month: {{ previous_month|date:"F Y" }}</a>
  {% endif %}

  {% if next_month %}
    <a href="{% url 'archive_month_numeric' year=next_month.year month=next_month.month %}">Next Month: {{ next_month|date:"F Y" }}</a>
  {% endif %}
</p>
{% endblock %}
