{% extends "base_bootstrap3.html" %}

{% comment %}
{% load bootstrap_toolkit %}
{% endcomment %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
  {% if page_title %} 
    {{ page_title }}
  {% else %}
    Update Order
  {% endif %}
{% endblock %}

{% block page_title %}Modify Order {{order}}{% endblock page_title %}

{% block extra_js %}
  <script src="{% static 'js/formhelper.js' %}"></script>
  <script src="{% static 'js/jquery.validate.extra.js' %}"></script>

<script type="text/javascript">
  $(function() {
    $(document).ready(function() {

      var warnBeforeExit = true;
        
      $('#tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      })

      FurnFormHelper.applyItemFormRules($("#order-items-fieldset"));  

      // items formset
      $("#order-items-fieldset").find("div.panel-collapse").eq(0).addClass("in"); //expand first item
      $('#order-items-fieldset div.items-form').formset({
          prefix: '{{items_form.prefix}}',
          deleteText: 'Delete',
          added: function($form) {
            FurnFormHelper.initFormset($form, 'ordered_items', 'Item');

            $form.removeClass("processed");
            $form.find("input").off('change');
            $form.find("select").off('change');

            FurnFormHelper.applyItemFormRules($("#order-items-fieldset"));
            
            $('.input-group-addon', $form).off('change');
            $('.input-group-addon', $form).off('click');            
           
            $('.date', $form).each(function() {
              $(this).removeData('DateTimePicker')
              $(this).datetimepicker(FurnFormHelper.dateTimePickerOptions);
            });
          }
      });
      
      // order delivery formset
      $("#deliveries").find("div.panel-collapse").eq(0).addClass("in");               //expand first item
      $('#deliveries div.delivery-form').formset({
          prefix: '{{delivery_form.prefix}}',
          added: function($form) {
            FurnFormHelper.initFormset($form, 'deliveries', 'Delivery');
            
            $('.input-group-addon', $form).off('change');
            $('.input-group-addon', $form).off('click');

            $('.date', $form).each(function() {
              $(this).removeData('DateTimePicker')
              $(this).datetimepicker(FurnFormHelper.dateTimePickerOptions);
            });
          }
      });

      // commissions formset
      $("#order-commissions-fieldset").find("div.panel-collapse:first").addClass("in"); //expand first item
      $('#order-commissions-fieldset div.commissions-form').formset({
          prefix: '{{commissions_form.prefix}}',
          added: function($form) {
            FurnFormHelper.initFormset($form, 'commissions', 'Commissions');

            $('.input-group-addon', $form).off('change');
            $('.input-group-addon', $form).off('click');

            $('.date', $form).each(function() {
              $(this).removeData('DateTimePicker')
              $(this).datetimepicker(FurnFormHelper.dateTimePickerOptions);
            });
          }
      });

      // attachments formset
      $("#attachment-fieldset").find("div.panel-collapse:first").addClass("in"); //expand first item
      $('#attachment-fieldset div.attachment-form').formset({
          prefix: '{{attachment_form.prefix}}',
          added: function($form) {
            FurnFormHelper.initFormset($form, 'attachments', 'Attachment');
          }
      });

      // issues formset
      $("#issues-fieldset").find("div.panel-collapse:first").addClass("in"); //expand first item
      $('#issues-fieldset div.issues-form').formset({
          prefix: '{{issues_form.prefix}}',
          added: function($form) {
            FurnFormHelper.initFormset($form, 'issues', 'Issue');
          }
      });

      // ORDER TOTALS calculation
      var totals_triggers = ["#id_subtotal_after_discount", "#id_deposit_balance", '#id_tax', '#id_shipping'];
      var len = totals_triggers.length;
      for (var i=0; i< len; i++) {
        $(totals_triggers[i]).change(function() { 
          FurnFormHelper.recalcOrderTotals();
        });
      }
      
      // show totals on initial load
      FurnFormHelper.recalcOrderTotals();

      // put focus on tab that has error
      var $parentTab = $("#orderForm .error").first().parents(".tab-pane");
      if ($parentTab.length) {
        var tab = $parentTab.attr('id');
        $('#tabs a[href="#' + tab + '"]').tab('show');
      }

      $("#orderForm").validate({
        rules: {
          number: {
            required: true,
            regex: /^(SO|SR|DR)-([0-9]{5})$/
          },
          subtotal_after_discount: {positive_num: true },
          deposit_balance:         {positive_num: true },
          tax:                     {positive_num: true },
          shipping:                {positive_num: true }
        },
        messages: {
          number: {
            regex:'Please enter order number is the format: <"SO" or "SR" or "DR">-<5 digits>. Examples: SO-10009 or SR-31000 or DR-10005',
            required: 'Order number is required'
          }
        },

        errorClass: "has-error help-block",
        errorPlacement: function(error, element) {
          error.appendTo( element.parents(".form-group") );
        },
        highlight: function(element) {
          $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function(element) {
          element
          .addClass('has-success control-label')
          .closest('.form-group').removeClass('has-error').addClass('has-success');
        } 
      });

      //disable warning message if Submit button was clicked
      $("#submitButton").on('click', function () { warnBeforeExit = false; });
      $("#orderForm").on('submit', function () { warnBeforeExit = false; });

      //show warning if page is about to be closed.
      window.onbeforeunload = function() {
        if (warnBeforeExit) {
          return "Are you sure you want to close this page? All unsaved changes might be lost.";
        }
      }

    });
  })
</script>

  {{ form.media }}
  {{ items_form.media }}
  {{ commissions_form.media }}
  {{ delivery_form.media }}
  {{ crypton_form.media }}
  {{ financing_form.media }}
  
{% endblock %}

{% block extra_css %}
<style type="text/css">
    .delete-row {
        margin-left:5px;
    }   
</style>
{% endblock %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data" id="orderForm" role="form" class="form">
  {% csrf_token %}
  {{ form.non_field_errors }} 
  
  <div class="tabbable tabs-left">
  
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="tabs" role="tablist">
      <li role="presentation" class="active"><a href="#order-info" data-toggle="tab">Order info</a></li>
      <li role="presentation"><a href="#customer-info" data-toggle="tab">Customer</a></li>
      <li role="presentation"><a href="#payment-info" data-toggle="tab">Payment</a></li>
      <li role="presentation"><a href="#order-items-fieldset" data-toggle="tab">Items</a></li>
      <li role="presentation"><a href="#deliveries" data-toggle="tab">Deliveries</a></li>
      <li role="presentation"><a href="#order-commissions-fieldset" data-toggle="tab">Commissions</a></li>
      <li role="presentation"><a href="#attachment-fieldset" data-toggle="tab">Attachments</a></li>
      <li role="presentation"><a href="#issues-fieldset" data-toggle="tab">Order Issues</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">  
      <div role="tabpanel" class="tab-pane active" id="order-info">
        <fieldset>
          <legend>Order info</legend>
      
            <div class="row">
              <div class="col-md-3">
                {% bootstrap_field form.number %}
              </div>
              
              <div class="col-md-3">
                {% bootstrap_field form.order_date  %}
              </div>
              
              <div class="col-md-3">
                {% bootstrap_field form.store %}
                
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                {% bootstrap_field form.status %}
              </div>

              <div id="referral-info" class="col-md-3">
                {% bootstrap_field form.referral %}
              </div>
            </div>
      
        </fieldset>
      </div>
    
      <div role="tabpanel" class="tab-pane" id="customer-info">
        <fieldset>
          <legend>Customer Info</legend>
          
            <div class="tabbable"> <!-- Only required for left/right tabs -->
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Select Customer</a></li>
                <li><a href="#tab2" data-toggle="tab">New Customer...</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active" id="tab1">

                  <div class="col-md-6">
                    {% bootstrap_field form.customer %}
                  </div>

                </div>
                <div class="tab-pane" id="tab2">
                  <div id="new-customer-form-wrapper" class="col-md-6">
                    {{ customer_form.management_form }}
                    {{ customer_form.non_form_errors }}
                    {% bootstrap_formset_errors customer_form layout='inline' %}
                    {% bootstrap_formset customer_form %}
                  </div>
                </div>
              </div>
            </div>
          
            <br/>          
          
        </fieldset>
      </div>
    
      <div role="tabpanel" class="tab-pane" id="payment-info">
        <fieldset>
          <div class="row">
            <div class="span4">
              <legend>Payment Information</legend>                 

                <div class="row">
                  <div class="col-md-3">
                    {% bootstrap_field form.subtotal_after_discount addon_before='$' %}
                  </div>

                  <div class="col-md-3">
                    {% bootstrap_field form.deposit_balance addon_before='$' %}
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-3">
                    {% bootstrap_field form.tax addon_before='$' %}
                  </div>

                   <div class="col-md-3">
                    {% bootstrap_field form.shipping addon_before='$' %}              
                  </div>                  

                </div>

              <hr/>
            </div>            

            <div class="row">

              <div class="col-md-4">
                {% bootstrap_label "Protection plan purchased"  %}
                {% bootstrap_field form.protection_plan show_label=False %}

                {% comment %}
                  {% include "partial/bootstrap_field.html" with field=form.protection_plan label_tag="Protection plan purchased" %}
                {% endcomment %}

                <div class="accordion-group items-form form-row" id="crypton-form-row">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#payment-info" href="#collapse-crypton">Crypton Protection Plan (expand)</a>
                  </div>
                  <div id="collapse-crypton" class="accordion-body collapse">
                    <div class="accordion-inner">
                         <legend>Crypton Protection Plan</legend>

                        {% if crypton_form %}
                          {{ crypton_form.management_form }}
                          {{ crypton_form.non_form_errors }}
                          {% for form in crypton_form %}
                            {% bootstrap_form form %}
                          {% endfor %}
                        {% endif %}

                    </div>
                  </div>       
                </div>  
              </div>

              <div class="col-md-4">

                {% bootstrap_label "Order financing"  %}
                {% bootstrap_field form.financing_option show_label=False %}

                {% comment %}
                  {% include "partial/bootstrap_field.html" with field=form.financing_option label_tag="Order financing" %}
                {% endcomment %}

                <div class="accordion-group items-form form-row" id="financing-form-row">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#payment-info" href="#collapse-financing">Order Financing (expand)</a>
                  </div>
                  <div id="collapse-financing" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <legend>Order Financing</legend>                  
                        
                      {% if financing_form %}
                        {{ financing_form.management_form }}
                        {{ financing_form.non_form_errors }}
                        {% for form in financing_form %}
                         {% bootstrap_form form %}
                        {% endfor %}
                      {% endif %}

                    </div>
                  </div>       
                </div> 

              </div>

            </div>

            <hr/>

          </div>  

        </fieldset>
      </div>
      
      <div role="tabpanel" class="tab-pane" id="order-items-fieldset">
        <fieldset class="accordion">
          <legend>Sold Items</legend>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {{ items_form.management_form|crispy }}
            {{ items_form.non_field_errors }} 
            {% bootstrap_formset_errors items_form layout='inline' %}

            {% for item_form in items_form %}


              <div class="panel panel-default items-form form-row" id="{{ item_form.prefix }}-row">
                <div class="panel-heading" role="tab" id="heading{{ item_form.prefix }}">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#order-items-fieldset" href="#collapse{{ item_form.prefix }}" aria-expanded="false" aria-controls="collapse{{ item_form.prefix }}">
                      Item {{ forloop.counter }}
                    </a>
                  </h4>
                </div>
                <div id="collapse{{ item_form.prefix }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ item_form.prefix }}">
                  <div class="panel-body">

                    <div class="item-general-fields">
                      <div class="row">
                        <div class="col-md-3">
                          {% bootstrap_field item_form.status %}
                        </div>
                        <div class="col-md-3">
                          {% bootstrap_field item_form.in_stock %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          {% bootstrap_field item_form.description %}
                        </div>
                      </div>
                    </div>
                    <div class="item-special-fields">
                      <div class="row">
                        <div class="col-md-3">
                          {% bootstrap_field item_form.po_num %}
                        </div>
                        <div class="col-md-3">
                          {% bootstrap_field item_form.po_date %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          {% bootstrap_field item_form.ack_num %}
                        </div>
                        <div class="col-md-3">
                          {% bootstrap_field item_form.ack_date %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          {% bootstrap_field item_form.eta %}
                        </div>
                      </div>
                    </div>

                    {{ item_form.id }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>
    
      <div role="tabpanel" class="tab-pane" id="deliveries">
        <fieldset class="formset accordion">
          <legend>Deliveries</legend>

          <div class="panel-group" class="accordion" role="tablist" aria-multiselectable="true">
          {{ delivery_form.management_form }}
          {% if delivery_form %}
            {{ delivery_form.non_form_errors }}
            {% bootstrap_formset_errors delivery_form %}

            {% for form in delivery_form %}   

              <div class="panel panel-default delivery-form form-row" id="{{ delivery_form.prefix }}-{{forloop.counter}}-row">
                <div class="panel-heading" role="tab" id="heading{{ form.prefix }}">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#deliveries" href="#collapse{{ delivery_form.prefix }}" aria-expanded="false" aria-controls="collapse{{ form.prefix }}">
                      Delivery {{ forloop.counter }}
                    </a>
                  </h4>
                </div>
                <div id="collapse{{ delivery_form.prefix }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ form.prefix }}">
                  <div class="panel-body">
                    
                    <div class="row">
                      <div class="col-md-3">
                        {% bootstrap_field form.delivery_type %}
                      </div>
                      <div class="col-md-3">
                        {% bootstrap_field form.scheduled_delivery_date %}
                      </div>
                      <div class="col-md-3">
                        {% bootstrap_field form.pickup_from %}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        {% bootstrap_field form.delivered_date %}
                      </div>
                       <div class="col-md-4">
                        {% bootstrap_field form.delivery_slip %}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        {% bootstrap_field form.comments %}
                      </div>
                    </div>
                  
                    <div class="row">
                      <div class="col-md-6">
                        {% bootstrap_field form.delivery_person_notes %}
                      </div>
                    </div>
                     <div class="row">
                      <div class="col-md-3">
                        {% bootstrap_field form.delivery_cost %}
                      </div>
                    </div>

                     
                    <div class="row">
                      <div class="col-md-3">
                        {% bootstrap_field form.paid %}
                      </div>
                    </div>

                  </div>       
              </div>

            {% endfor %}
          {% else %}
            <div class="alert warning">Deliveries can be added only after saving the order.</div>
          {% endif %}
          </div>
        </fieldset>
      </div>
    
      <div role="tabpanel" class="tab-pane" id="order-commissions-fieldset">
        <fieldset class="formset accordion">
          <legend>Commissions</legend>

          <div class="panel-group" class="accordion" role="tablist" aria-multiselectable="true">
            {{ commissions_form.management_form }}
            {% if commissions_form %}
              {{ commissions_form.non_field_errors }}   
              {% bootstrap_formset_errors commissions_form %}
   
              {% for comm_form in commissions_form %}          

                <div class="panel panel-default commissions-form form-row" id="{{ commissions_form.prefix }}-{{forloop.counter}}-row">
                  <div class="panel-heading" role="tab" id="heading{{ comm_form.prefix }}">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#order-commissions-fieldset" href="#collapse{{ comm_form.prefix }}" aria-expanded="false" aria-controls="collapse{{ comm_form.prefix }}">
                        Commissions {{ forloop.counter }}
                      </a>
                    </h4>
                  </div>
                  <div id="collapse{{ comm_form.prefix }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ comm_form.prefix }}">
                    <div class="panel-body">

                      <div class="row">
                        <div class="col-md-3">
                          {% bootstrap_field comm_form.associate %}
                        </div>
                        <div class="col-md-offset-1 col-md-1">
                          {% bootstrap_field comm_form.paid form_group_class="form-group checkbox-middle" %}
                        </div>
                        <div class="col-md-2">
                          {% bootstrap_field comm_form.paid_date %}
                        </div>
                      </div>

                    </div>
                  </div>       
                </div>

                {{ comm_form.id }}

              {% endfor %}
            {% else %}
                No commissions info available.
            {% endif %}

          </div>

        </fieldset>
      </div>
    
      <div role="tabpanel" class="tab-pane" id="attachment-fieldset">
        <fieldset class="formset accordion">
          <legend>Attachments</legend>

          <div class="panel-group" class="accordion" role="tablist" aria-multiselectable="true">
            {{ attachment_form.management_form }}
            {% if attachment_form %}
              {{ attachment_form.non_field_errors }}   
              {% bootstrap_formset_errors attachment_form %}

              {% for form in attachment_form %}

                <div class="panel panel-default attachment-form form-row" id="{{ attachment_form.prefix }}-{{forloop.counter}}-row">
                  <div class="panel-heading" role="tab" id="heading{{ form.prefix }}">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#attachment-fieldset" href="#collapse{{ form.prefix }}" aria-expanded="false" aria-controls="collapse{{ form.prefix }}">
                        Attachment {{ forloop.counter }}
                      </a>
                    </h4>
                  </div>
                  <div id="collapse{{ form.prefix }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ form.prefix }}">
                    <div class="panel-body">

                      {% bootstrap_form form %}


                    </div>
                  </div>       
                </div>
              {% endfor %}
            {% else %}
              {% ifequal object.pk None %}
                <div class="alert warning">Save the order before uploading attachments.</div>
              {% else %}
                <div class="alert warning">Nothing uploaded yet</div>
              {% endifequal %}
            {% endif %}

          </div>

        </fieldset>
      </div>
    
      <div role="tabpanel" class="tab-pane" id="issues-fieldset">
        <fieldset class="formset accordion">
          <legend>Order Issues</legend>

          <div class="panel-group" class="accordion" role="tablist" aria-multiselectable="true">
            {{ issues_form.management_form }}
            {% if issues_form %}
              {{ issues_form.non_field_errors }}  
              {% bootstrap_formset_errors issues_form %}  

              {% for form in issues_form %}

                <div class="panel panel-default issues_form form-row" id="{{ issues_form.prefix }}-{{forloop.counter}}-row">
                  <div class="panel-heading" role="tab" id="heading{{ form.prefix }}">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#issues-fieldset" href="#collapse{{ form.prefix }}" aria-expanded="false" aria-controls="collapse{{ form.prefix }}">
                        Issue {{ forloop.counter }}
                      </a>
                    </h4>
                  </div>
                  <div id="collapse{{ form.prefix }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ form.prefix }}">
                    <div class="panel-body">

                      {% bootstrap_form form %}

                    </div>
                  </div>       
                </div>
              {% endfor %}
            {% else %}
              {% ifequal object.pk None %}
                <div class="alert warning">Save the order before entering order issues.</div>
              {% else %}
                <div class="alert warning">No issues yet.</div>
              {% endifequal %}
            {% endif %}

          </div>

        </fieldset>
      </div>
    </div>

    <div class="well clear order-totals-wrapper">
      <span>TOTAL:<span id="order-total" class="totals-amount"></span></span>
      <span>DUE:<span id="balance-due" class="totals-amount"></span></span>
    </div>

    <div class="field-wrapper order-comments-wrapper">
      {{ form.comments.errors }}
      {% bootstrap_field form.comments %}
    </div>
    
    <br/>
            
    <input type="submit" id="submitButton" class="btn btn-primary btn-large" value="Save"/>

</form>

{% endblock content %}
