
{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}Orders for week ending {{this_week_sun|date:'F j,Y'}}{% endblock %}

{% block page_title %}Orders for week from {{week|date:'F j, Y'}} - {{this_week_sun|date:'F j,Y'}}{% endblock page_title %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block content %}
  <div id="order-list" class="orders-weekly">
    {% crispy filter.form filter.helper %}

    {% render_table table %}
  </div>

  <p>
    {% if previous_week %}
      <a href="{% url 'archive_week' year=previous_week.year week=prev_week_num %}" class="btn pull-left">&larr; {{ previous_week|date:"F j"}} - {{ week|date:"F j, Y" }}</a>
    {% endif %}

    {% if next_week %}
      <a href="{% url 'archive_week' year=next_week.year week=next_week_num %}" class="btn pull-right">{{ next_week|date:"F j"}} - {{ next_week_sun|date:"F j, Y" }} &rarr;</a>
    {% endif %}
  </p>

{% endblock %}
