{% extends "base.html" %}

{% load extras %}

{% block title %}Order -- {{object}}{% endblock %}

{% block page_title %}Order # {{order.number}}{% endblock page_title %}

{% block content %}
  
  <div class="well hidden-print">
    {% if perms.orders.change_order %}
    <a href="{% url 'order_edit' object.pk %}" title="Edit Order">Edit Order</a>  
    {% endif %}
    {% if perms.orders.delete_order %}
      |  <a href="{% url 'order_delete' object.pk %}" title="Delete Order">Delete Order</a>
    {% endif %}
  </div>
  <hr/>

  {% if order.not_placed %}
    <div class="alert warning">Order has not been placed: some item(s) don't have PO# !</div>
  {% endif %}

  <h3>Order #{{order.number}}</h3>


  <br/>

  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
    <div class="span2">
      <h5>Order Date:</h5>
      {{order.order_date|date:'f F, Y'}}
    </div> 
    <div class="span2">
      <h5>Status:</h5>
      {{order.get_status_display|upper}}
    </div>
    <div class="span2">
      <h5>Store:</h5>
      {{order.store}}
    </div>
    <div class="span2">
      <h5>Associate:</h5>
      {% for commission in order.commission_set.all %}
        {{ commission.associate.first_name }},  
      {% endfor %}
    </div>
    <div class="span1">
      <h5>Referral</h5>
      <p>{{order.get_referral_display|upper}}</p>
    </div>
      </div>
    </div>
  </div>

  <hr/>

  <h3>Customer</h3>
  <div class="row customer-info">
    <div class="span2">
      {{order.customer}}<br/>
      Phone: {{order.customer.phone}}<br/>
      Email: {{order.customer.email}}
    </div>
    <div class="span3">
      <h4>Billing Address:</h4>
      {{order.customer.billing_address}}
    </div>
    <div class="span3">
      <h4>Shipping Address:</h4>
      {{order.customer.shipping_address}}
    </div>
  </div>

  <table id="order-detail-table" cell-spacing="0" cell-padding="0">
    <!--<tr>
      <td>Placed Date:</td><td>{{order.order_date|date:'j F, Y'}}</td>
    </tr>
    <tr>
      <td>Status:</td><td>{{order.get_status_display|upper}}</td>
    </tr>
    <tr>
      <td>Store:</td><td>{{order.store}}</td>
    </tr>
    <tr>
      <td>Associate:</td>
      <td>
        {% for commission in order.commission_set.all %}
          {{ commission.associate.first_name }} <br/> 
        {% endfor %}
      </td>
    <tr>
      <td>Customer:</td><td>{{order.customer}}</td>
    </tr>
    <tr>
      <td>Customer Contact Details:</td>
      <td>
        Phone: {{order.customer.phone}}<br/>
        Email: {{order.customer.email}}
      </td>
    </tr>
    <tr>
      <td>Billing Address:</td>
      <td>{{order.customer.billing_address}}</td>
    </tr>
    <tr>
      <td>Shipping Address:</td>
      <td>{{order.customer.shipping_address}}</td>
    </tr>-->
  </table>

  <hr/>

  <div class="row">
    <div class="span4">
      <h3>Payment</h3>
      <table id="order-payments-table" cell-spacing="0" cell-padding="0">
        <tr>
          <td>Subtotal After Discount</td><td>{{order.subtotal_after_discount|dollars}}</td>
        </tr>
        <tr>
          <td>Tax</td><td>{{order.tax|dollars}}</td>
        </tr>
        <tr>
          <td>Shipping</td><td>{{order.shipping|dollars}}</td>
        </tr>
        <tr>
          <td>Grand Total</td><td>{{order.grand_total|dollars}}</td>
        </tr>
        <tr>
          <td>Deposit Balance</td><td>{{order.deposit_balance|dollars}}</td>
        </tr>
        <tr>
          <td>Balance Due</td><td>{{order.balance_due|dollars}}</td>
        </tr>
      </table>
    </div>

    <div class="span8">
      <h3>Ordered Items</h3>
      <table id="order-items-table" cell-spacing="0" cell-padding="0">
        <thead>
          <th>&nbsp;</th>
          <th>Status</th>
          <th>PO #</th>
          <th>PO Date</th>
          <th>Acknowledgement #</th>
          <th>Acknowledgement Date</th>
          <th>ETA</th>
        </thead>
        <tbody>
        {% for item in order.orderitem_set.all %}
          <tr>
            <td>{{ item.description }} <br/> </td>
            {% if item.in_stock %}
              <td>IN STOCK</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            {% else %}
              <td>{{ item.get_status_display|upper}}</td>
              <td>{{ item.po_num}}</td>
              <td>{{ item.po_date|date:'j F, Y'}}</td>
              <td>{{ item.ack_num}}</td>
              <td>{{ item.ack_date|date:'j F, Y'}}</td>
              <td>{{ item.eta|date:'j F, Y' }} </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
  <hr/>
  
  <h3>Deliveries</h3>
  {% if order.orderdelivery_set.count %}
    <table id="order-deliveries-table" cell-spacing="0" cell-padding="0">
      <thead>
        <th>Delivery by</th>
        <th>Pickup From</th>
        <th>Delivery Slip</th>
        <th>Delivery scheduled Date</th>
        <th>Delivered Date</th>
        <th>Delivery Fee</th>
        <th>Fee Paid?</th>
        <th>Associate Comments</th>
        <th>Delivery Person Notes</th>
      </thead>
      <tbody>
      {% for delivery in order.orderdelivery_set.all %}
        <tr>
          <td>{{ delivery.get_delivery_type_display|upper}}</td>
          <td>{{ delivery.pickup_from}}</td>
          <td><a href="{{ MEDIA_URL }}{{delivery.delivery_slip}}">{{ delivery.delivery_slip_filename }}</a></td>
          <td>{{ delivery.scheduled_delivery_date|date:'j F, Y'}}</td>
          <td>{{ delivery.delivered_date|date:'j F, Y'}}</td>
          <td>{{ delivery.delivery_cost}}</td>
          <td>{{ delivery.paid|yesno:"Yes,No"}}</td>
          <td>{{ delivery.comments }} </td>
          <td>{{ delivery.delivery_person_notes }} </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
      <p>No Deliveries for the order.</p>
  {% endif %}


  <div class="row">
    <div class="span4">
      <h3>Comments</h3>
      <p>{{order.comments}}</p>
    </div>
    <div class="span5">
      <h3>Attachments</h3>
      <ul>
      {% for attachment in order.orderattachment_set.all %}
        <li>
          <a href="{{ MEDIA_URL }}{{attachment.file}}" target="_blank">{{ attachment.filename }}</a>
          {% if attachment.description %}
            [{{attachment.description}}]
          {% endif %}
        </li>
      {% empty %}
      <p>No attachments.</p>
      {% endfor %}
      </ul>
    </div>
  </div>

  <hr/>

  <h3>Order issues</h3>
  {% if order.orderissue_set.count %}  
  <table id="order-issues-table" class="dashed-table">
    <thead>
      <th>Date</th>
      <th>Status</th>
      <th>Description</th>
    </thead>
    <tbody>
      {% for issue in order.orderissue_set.all %}
        <tr>
          <td>{{ issue.created|date:'j F, Y' }}</td>
          <td>{{ issue.get_status_display|upper }}</td>
          <td> {{ issue.comments }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No order issues.</p>
  {% endif %}
  <hr/>
  <div class="row pull-right">
    <h4>Audit Trail:</h4>
    <table id="order-audit-trail" class="dashed-table">
      <tr>
        <td>Created:</td><td> {{ order.created|date:'j F, Y H:i' }}</td>
        <td>by:</td> <td>{{ order.created_by }}</td>
      </tr>
      <tr>
        <td>Modified: </td><td>{{ order.modified|date:'j F, Y H:i' }}</td>
        <td>by:</td><td> {{ order.modified_by }}</td>
      </tr>
    </table>
  </div>

{% endblock content %}
