{% extends "base.html" %}

{% block title %}Order -- {{object}}{% endblock %}

{% block page_title %}Order Details - {{object}}{% endblock page_title %}

{% block content %}
  
  <div><a href="{% url 'order_edit' object.pk %}" title="Edit Order">Edit Order</a></div>
  <hr/>
  
  <div>{{order.number}}</div>
  <div>{{order.created}}</div>
  <div>{{order.customer}}</div>
  <div>{{order.status}}</div>
  <div>{{order.deposit_balance}}</div>
  <div>{{order.associate}}</div>
  {% if order.vendor_order_no %}
    <div>{{order.vendor_order_no}}</div>
  {% else %}
    <div class="message error">Order has not been placed with the vendor!</div>
  {% endif %}
{% endblock content %}
