{% extends "base_bootstrap3.html" %}

{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block title %} Customer Info{% endblock %}

{% block page_title %} Customer: {{customer}}{% endblock page_title %}
{% block extra_js %}
  {{ form.media }}
{% endblock extra_js %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block content %}

  <div class="well"><a href="{% url 'customer_edit' object.pk %}" title="Edit Customer">Edit Customer</a></div>
  <hr/>

  <form action="" method="POST">
    {% csrf_token %}
    {{ customer_details_form.management_form }}
    {{ customer_details_form.non_field_errors }} 
    {% bootstrap_form customer_details_form %}
    {% buttons submit='Save' %}{% endbuttons %}
  </form>

  <h4>Orders for {{ customer.last_name }}, {{ customer.first_name }}</h4>
  <div id="order-list">
    {% render_table customer_orders_table %}
  </div>

{% endblock content %}
