<html>
<head>
<title>Your Domain Name - 500 Error - Malformed Header</title>
</head>

<body>

<h1>500 - Malformed Header</h1>
<p>

<blockquote>

The server encountered an internal error or misconfiguration and was unable
to complete your request.<p>

Please contact the administrator, orx 
<a href="mailto:admin@furnitalia.com">admin@furnitalia.com</a>,
and inform them of the time the error occurred, and anything you might have 
done that may have caused the error.
<p>

</blockquote>

<br/>
<a href="/">Return to Home page</a>.

</body>            
</html>            
